/* KEYFRAMES */

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: $background-secundario;
    }
}

@keyframes text_reveal_name {
    100% {
        color: $background-principal;
        font-weight: 500;
    }
}

/* END KEYFRAMES */