/* HEADER */

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
}

.navbar-custom {
    height: 60px;
    font-size: 20px;
    background-color: rgba(13, 16, 17, 0.514);
    border-bottom: 2px solid rgb(119, 9, 31);

    .nav-link {
        color: $background-secundario;
    }
}

.search-custom input[type="search"] {
    font-size: 18px;
}

.btn-custom {
    font-size: 22px;
    width: 180px;
}

.nav-link {
    padding: 0 60px;

    &:hover {
        color: rgb(192, 28, 61);
    }
}

.btn-custom {
    border-color: $background-principal;
    color: $background-secundario;

    &:hover,
    &:focus {
        background-color: #dc143c;
        border-color: #dc143c;
        box-shadow: 0 0 0 0.25rem rgba(220, 20, 60, 0.5);
    }
}

.navbar-toggler-icon,
.navbar-custom .navbar-toggler {
    background-color: $background-secundario;
}

.brand {
    display: flex;
    align-items: center;

    h1 {
        margin-right: 20px;
    }
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    color: $background-secundario;
    padding-top: 50px;
    text-align: center;

    h1 {
        font-size: 65px;
        font-weight: 600;
        margin-bottom: 40px;
        text-align: center;
    }

    form {
        background: $background-secundario;
        padding: 10px;
        border-radius: 8px;
        display: flex;

        input {
            flex: 1;
            border: none;
            outline: none;
            padding: 0 20px;
            font-size: 18px;
            display: inline-block;
        }

        button {
            background-color: rgb(117, 0, 23);
            color: $background-secundario;
            padding: 15px 40px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 17px;
        }
    }
}

.category-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.category {
    width: 80px;
    height: 80px;
    background: rgba(221, 0, 0, 0.172);
    margin: 0 10px;
    font-size: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;

    img {
        width: 40px;
        height: 40px;
        margin-top: 24%;
    }
}

/* END HEADER */