
/* INFORMACIÓN */

#informacion {
    background-image: url(../assets/img/meetings-bg.jpg);
}

.profile-info {
    margin-bottom: 25px;
}

.profile-img {
    width: 80%;
    max-width: 300px;
}

.profile-img-section {
    position: relative;
}

.profile-img-line {
    background-color: var(--secundary-color);
    height: 15px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.profile {
    text-align: center;
}

.profile-title {
    font-size: 35px;
    font-weight: bold;
    color: $background-secundario;
    font-family: "Noto Sans", sans-serif;
}

.profile-details {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin: 20px auto;
}

.profile-btn {
    background-color: transparent;
    color: $background-secundario;
    border: 2px solid $background-principal;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;

    &:hover {
        filter: brightness(130%);
        background-color: #770018;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
}

.experiences {
    display: flex;
    flex-direction: column;
}

.experiences-body {
    background-color: var(--primary-color);
    color: var(--text-color-inverse);
}

.wave {
    width: 100%;
    position: relative;
    top: 2px;
}

.wave_bottom {
    transform: scaleY(-1);
    top: -2px;
}

.experiences-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 25px;
}

.experience-objetivos {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    color: rgb(255, 116, 116);
}

.experience-position {
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

.experience-description {
    font-weight: 400;
    font-size: 15px;
    margin-top: 10px;
}

.experience {
    padding: 25px;
    max-width: 500px;
    margin: 0 auto;
}

:root {
    --theme-color: white;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
}

.horizontal-padding {
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding {
    padding-top: 25px;
    padding-bottom: 25px;
}

.skills {
    max-width: 980px;
    margin: 0 auto;
}

.skills-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
}

.skills-skill {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(128, 0, 0, 0.623);
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
    color: rgb(201, 201, 201);
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* END INFORMACION */