/* MAIN INDEX */
.main-banner {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    margin-bottom: -7px;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    background-color: rgba(31, 39, 43, 0.75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}


.custom-section .p-container p {
    margin-top: 0px;
    width: fit-content;
    font-size: 7rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 2s;
    text-align: center;
    display: inline-block;
}


.p1-subtitulo,
.p3-subtitulo {
    margin-bottom: 50px;
    font-weight: bold;
}

#home {
    .p1-subtitulo:nth-child(1) {
        animation-delay: 1s;
    }

    .p3-subtitulo:nth-child(2) {
        animation: text_reveal_name 0.5s ease forwards;
        animation-delay: 2s;
    }

    p span {
        position: absolute;
        top: -15px;
        left: 0;
        height: 250%;
        width: 0;
        background-color: $background-principal;
        animation: text_reveal_box 1s ease;
        animation-delay: 0.5s;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        font-weight: bold;
    }

    .p1-subtitulo:nth-child(1) span {
        animation-delay: 0.5s;
    }


    .p3-subtitulo:nth-child(2) span {
        animation-delay: 1.5s;
    }
}



/* END MAIN INDEX */