/* SERVICIOS */

#servicios {
    background-image: url(../assets/img/meetings-bg.jpg);

    .servicios-header h1 {
        margin-bottom: 50px;
    }
}

.serv-container {
    padding: 15px 9%;
    padding-bottom: 100px;

    .serv-box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 15px;

        .servbox {
            box-shadow: 0px 0px 6px 0 #c1040485;
            border-radius: 25px;
            background: #fff;
            text-align: center;
            padding: 30px 20px;
            background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
            display: flex;
            flex-direction: column;
            align-items: center;

            .servicios-img {
                max-height: 200px;
                width: 100%;
                overflow: hidden;
                border-radius: 25px;
                opacity: 0.6;
            }

            h3 {
                color: rgb(214, 214, 214);
                font-size: 3rem;
                font-weight: 500;
                padding: 10px 0;
            }

            p {
                color: white;
                font-size: 16px;
                line-height: 1.8;
            }

            .btn {
                margin-top: 10px;
                display: inline-block;
                background-image: linear-gradient(40deg, #666666 50%, #3c3c3c 100%);
                border-color: black;
                color: rgba(255, 255, 255, 0.819);
                font-size: 17px;
                border-radius: 15px;
                padding: 8px 25px;
                height: 40px;
                display: inline-block;
                align-items: center;
                text-align: center;

                &:hover {
                    box-shadow: 0 0 20px black;
                    border-color: black;
                }
            }

            &:hover {
                box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
                transform: scale(1.03);
            }
        }
    }
}

/*END SERVICIOS*/