/*BUTTON de Main Index*/


:root{
    --color: crimson;
}

.contenedor{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    margin-top: 20px;
}

.btn_amt{
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 10px;
    text-indent: 10px;
    z-index: 2;
    border-radius: 25px;

}

.btn-2{
    border: 3px solid;
}

.btn-2:hover{
    background-color: #411313;
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
}

.btn-2 span:nth-child(n){
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid;
    transition: all 0.6s ease;
}

.btn-2 span:nth-child(1){
    right: 10%;
    top: -10px;
    background-color: #fff;
}

.btn-2 span:nth-child(2){
    left: 10%;
    bottom: -10px;
}

.btn-2:hover span:nth-child(1){
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
}

.btn-2:hover span:nth-child(2){
    left: 80%;
    transform: rotate(90deg);
    color: var(--color);
}