/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

#section {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
  }
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: $background-secundario;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 6rem;
    font-weight: 300;
    color: $background-secundario;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    margin-top: 70px;

    span {
        color: $background-principal;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
}



.cta {
    display: inline-block;
    padding: 10px 30px;
    color: $background-secundario;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    border-radius: 25px;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        color: $background-secundario;
        background-color: #770018;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
}

.cta-cv {
    display: inline-block;
    padding: 10px 30px;
    color: $background-secundario;
    background-color: transparent;
    border: 2px solid $background-principal;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    border-radius: 25px;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        color: $background-secundario;
        background-color: #770018;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: $background-secundario;

    span {
        color: $background-principal;
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    }
}

/*END GENERAL*/